@import url('https://fonts.googleapis.com/css?family=Poppins');

.login-square {
    width: 60%;
}

#card-one {
    color: #827c7c;
}

.card-body {
    background-color: #1b2132;
}

.card-text {
    color: #827c7c;
}

.horinazation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.music {
    float: left;
}

.music a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.music a:hover {
    background-color: #111;
}

/* #active {
    background-color: #04AA6D;
} */

.navigation .search-bar {
    margin-top: 10px;
}

.navigation .btnLogin-popup {
    width: 150px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
    width: 100%;
    height: 50px;
    max-width: 150px;
    padding: 10px 20px;
}

.btnLogin-popup {
    float: left;
    color: #fff;
    background: #1b2132;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: rgb(37, 53, 86);
}

.navigation .btnSignup-popup {
    width: 150px;
    height: 50px;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
    width: 100%;
    height: 50px;
    max-width: 150px;
    padding: 10px 20px;
    color: #827c7c;
}

.btnSignup-popup {
    background: #1b2132;
}

.navigation .btnSignup-popup:hover {
    color: #fff;
}

.login-square {
    width: 60%;
}

.newplaylist {
    margin-top: 100px;
    margin-left: 20px;
}

.btn-newplaylist {
    cursor: pointer;
    display: inline-block;
    padding: 8px 12px;
    background: #334f58;
    border-radius: 20px;
    color: #070606;
    text-transform: uppercase;
    line-height: 20px;
}

.btn-newplaylist:hover {
    background: #103d8b;
}

.text-newplaylist {
    color: #00F0FF;
    margin: 10px 5px 5px;
    left: 10px;
    font-style: normal !important;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    /* font-family: sans-serif; */
}

.logo-img:hover {
    box-shadow: 0 0 2px #00597a;
}

.container {
    width: 100%;
    float: left;
    background: #00232e;
    /* background: linear-gradient(rgb(42, 38, 38),rgb(37, 53, 86),rgb(41, 41, 95)); */
}

body {
    background-color: #00232e !important;
    margin: 0;
    height: 100%;
}

.side-bar {
    position: fixed;
    width: 220px;
    float: left;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: #131925;
}

.logo {
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    cursor: pointer;
}

.logo img {
    height: 2.3em;
}

.logo span {
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

a {
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 14px;
    display: table;
    width: 200px;
    padding: 10px;
}

.fas {
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
    color: #00F0FF;
}

.fas.fa-play {
    position: relative;
    top: 0;
    height: fit-content;
    width: fit-content;
}

.fas.fa-plus-circle {
    position: relative;
    top: 0;
    height: fit-content;
    width: fit-content;
}

.nav-item {
    position: relative;
    top: 12px;
    margin-left: 10px;
    color: #00F0FF;
}

.side-bar li:hover {
    padding-left: 2px;
    opacity: 0.5;
}

.newplaylist {
    margin-top: 100px;
    margin-left: 20px;
}

.btn-newplaylist {
    cursor: pointer;
    display: inline-block;
    padding: 8px 12px;
    background: #334f58;
    border-radius: 20px;
    color: #070606;
    text-transform: uppercase;
    line-height: 20px;
}

.btn-newplaylist:hover {
    background: #103d8b;
}

.text-newplaylist {
    color: #00F0FF;
    margin: 10px 5px 5px;
    left: 10px;
    font-style: normal !important;
}

.main {
    float: left;
    position: relative;
    left: 210px;
    background: #00232e;
    height: 100%;
    margin-left: 10px;
}

.top-bar {
    float: left;
    position: relative;
    left: 210px;
    margin-left: 10px;
}

/* css thanh tìm kiếm */
.search-bar {
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 2px 2px;
    font-size: 20px;
}

::placeholder {
    color: #cac7ff;
}

.search-bar button img {
    width: 25px;
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    height: 40px;
    background: transparent;
    cursor: pointer;
}

h3,
h5 {
    color: #dfe9f5;
}

.card {
    background: linear-gradient(rgb(42, 38, 38), rgb(37, 53, 86), rgb(41, 41, 95));
    /* border-radius: 100px; */
}

.navigation .search-bar {
    margin-top: 10px;
}

/* css nút login và signup */
.navigation .btnLogin-popup {
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
    width: 6em;
    height: 50px;
    padding: 10px 20px;
}

.btnLogin-popup {
    float: left;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    background: #1b2132;
    margin-right: 10px;
    margin-left: 230px;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: rgb(37, 53, 86);
}

.navigation .btnSignup-popup {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
    width: 6em;
    height: 50px;
    padding: 10px 20px;
    color: #827c7c;
}

.btnSignup-popup {
    background: #1b2132;

}

.navigation .btnSignup-popup:hover {
    color: #fff;
}

.login-square {
    width: 60%;
}

.card {
    background: linear-gradient(rgb(42, 38, 38), rgb(37, 53, 86), rgb(41, 41, 95));
    /* border-radius: 100px; */
}

.card-body {
    background-color: #1b2132;
}

.card-text {
    color: #827c7c;
}

.card:hover {
    box-shadow: 0px 0px 3px 2px #2e2a2a;
    background: #3d3f3f;
}

i {
    color: #827c7c;
}

.card-music {
    cursor: pointer;
}

.card:hover {
    box-shadow: 0px 0px 3px 2px #2e2a2a;
    background: #3d3f3f;
}

.card-music:hover .fas {
    opacity: 1;
}

.card-music .fas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: white;
    font-size: 40px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s linear;
    opacity: 0;
}

.chart_song {
    margin-left: 50px;
}

.chart_song {
    width: 500px;
}

.chart_song .songItem {
    position: relative;
    list-style-type: none;
    padding: 5px 0px 5px 1px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s linear;
    border-bottom: 2px solid #170f23;
}

.chart_song .songItem h6 {
    font-size: 20px;
    font-weight: 600;
    color: #b2bfe2;
}

.chart_song .songItem img {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    object-fit: cover;
}

.chart_song .songItem h5 {
    font-size: 15px;
    margin-left: 15px;
}

.chart_song .subtitle {
    font-size: 12px;
    color: #827c7c;
}

.chart_song .songItem .bi {
    position: absolute;
    right: 15px;
    top: 6px;
    font-size: 16px;
}

.chart_song .song-item .fas {
    position: absolute;
    top: 80%;
    left: 12%;
    transform: translate(-45%, -48%);
    -ms-transform: translate(-45%, -48%);
    background-color: transparent;
    color: white;
    font-size: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s linear;
    opacity: 0;
}

.chart_song .song-item:hover .fas {
    opacity: 1;
}

.chart_song .btns {
    padding-left: 100px;
}

.menu_song .songItem {
    border-bottom: 0.2px solid white;
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chart_song .songItem {
    position: relative;
    list-style-type: none;
    padding: 5px 0px 5px 1px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s linear;
    border-bottom: 2px solid #170f23;
}

.chart_song .songItem h6 {
    font-size: 20px;
    font-weight: 600;
    color: #b2bfe2;
}

.chart_song .songItem img {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    object-fit: cover;
}

.chart_song .songItem h5 {
    font-size: 15px;
    margin-left: 15px;
}

.chart_song .subtitle {
    font-size: 12px;
    color: #827c7c;
}

.chart_song .songItem .bi {
    position: absolute;
    right: 15px;
    top: 6px;
    font-size: 16px;
}

.chart_song .songItem .container:hover {
    background: #00353a;
}

.top-song {
    width: 1200px;
}

.morebtn {
    background-color: transparent;
    color: white;
    font-size: 16px;
    border: none;
}


.moreOption {
    position: relative;
    display: inline-block;
}

.showMore-content {
    display: none;
    position: absolute;
    background-color: #1ea893;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: 35px;
}

.showMore-content a {
    color: #000;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.showMore-content a:hover {
    background-color: #70d7b0;
    color: #000;
}

.moreOption:hover .showMore-content {
    display: block;
}

.container .list-btn {
    background: transparent;
}

#user-img {
    height: 35px;
    width: 35px;
}

.user-img {
    /* margin-left: 700px; */
    cursor: pointer;
    margin-top: 10px;
}

.user-img img {
    border-radius: 20px;
}

.user-icon {
    height: 40px;
    border-radius: 20px;
    border-color: 20px;
}

.user-name {
    color: white;
    /* padding-left: 15px; */
    cursor: pointer;
    font-weight: 500;
    user-select: none;
    font-size: 1.1em;
}

.dropbtn {
    background-color: transparent;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-right: 0;
    display: none;
    /* margin-top: 1px; */
}

.dropdown {
    position: relative;
    display: inline-block;
    /* margin-right: 10px; */
    border: solid 1px white;
    border-radius: 20px;
    padding-left: 20px;
    padding-bottom: 8px;
    transition: width 2s, border-color 0.4s;
}

.dropdown:hover {
    cursor: pointer;
    /* opacity: 1; */
    box-shadow: 0px 0px 3px 2px #2e2a2a;
    background: #5693a6;
    transition: rgb(46, 82, 94)s, border-color 0.4s, box-shadow 0.4s, background 0.4s;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    list-style-type: none;
    width: 70%;

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    user-select: none;

    /* margin-left: 20px;
    margin-right: 20px; */
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
    width: 100%;
}

.listPage {
    padding: 10px;
    text-align: center;
    list-style: none;
    margin-left: 60%;
}

.listPage li {
    background-color: #ffffffBD;
    padding-top: 7px;
    padding-right: 19px;
    padding-bottom: 7px;
    padding-left: 10px;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    /* height: 1em; */
    width: 0.9em;

}

.listPage .active {
    background-color: #ffffffBD;
    padding-top: 7px;
    padding-right: 19px;
    padding-bottom: 7px;
    padding-left: 10px;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    /* height: 1em; */
    width: 0.9em;
    background-color: #2aa8b1;
    color: #fff;
}
.listPage .direct{
    background-color: #ffffff;
    padding-top: 7px;
    padding-right: 28px;
    padding-bottom: 7px;
    padding-left: 9px;

    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    /* height: 1em; */
    width: 0.9em;
    color: f000;
}
.heart-button{
    color: grey;
}
.heart-button-liked{
    color: aqua;
}